# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
training_data/.cache
training_data/data
training_data/downloads
.vscode/

*.code-workspace


save/
example/
training_data/pretraining_data/
wandb/
debug_data/
DATA/
lightning_logs/

*.png
*.h5ad
*.csv
*.pth
*.tar
*.hkl
*.pkl
*.zip

*.code-workspace
*.ckpt
*.svg

# Data files
training_data/.cache
training_data/data
training_data/downloads
drug_response_prediction/data