# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Conda environment files
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
training_data/.cache
training_data/data
training_data/downloads

save/
example/
training_data/pretraining_data/
wandb/
debug_data/

*.png
*.h5ad
*.csv
*.pth
*.tar